footer{

    border-top: 1px solid black;
    position: fixed;
    font-size: large;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;

}
body{
    text-align: center;
}
#search-container{
    background-color: lightcoral;
    display:inline;
    padding: 25px;
    border-radius: 15px;
}
#test-div{
    text-align: left;
    background-color: lightcoral;
    padding: 25px;
    border-radius: 15px;
    margin: 25px;
}
.train-display{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}