:root {
  --primary-color: navy; /* global scope */
  --primary-color-hover: rgb(0, 0, 185);
  --primary-color-disabled: rgb(113, 113, 143);
  --text-alt: white;
}
footer{

    border-top: 1px solid black;
    position: fixed;
    font-size: large;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;

}
body{
    text-align: center;
}
#search-container{
    background-color: var(--primary-color);
    display:inline-block;
    padding: 1.75vw;
    border-radius: 1.75vw;
    color: var(--text-alt);
}
#output-div{
    position: relative;
    text-align: left;
    background-color: var(--primary-color);
    padding: 25px;
    padding-top: 45px;
    border-radius: 15px;
    margin: 25px;
}
.train-display{
    background-color: white;
    border-radius: 1.5vw;
    padding: 2vw;
    margin:0;
    font-size: 1vw;
}
#test-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
#search-container, #search-container *{
    font-size: 1.25vw;
}
@media screen and (max-width: 1000px){
    #test-div{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 700px){
    #test-div{
        grid-template-columns: repeat(2, 1fr);
    }
    .train-display{
        font-size: 1.5vw;
    }
}

.page-button{
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    border: 2px outset white;
}
.page-button.top{
    top:19px;
}
.page-button.bottom{
    bottom:19px;
}
.page-button.left{
    left:25px;
}
.page-button.right{
    right:25px;
}
.page-button:hover, .page-button:focus:hover {
    background-color: var(--primary-color-hover);
}
.page-button:focus{
    background-color: var(--primary-color);
}
.page-button:disabled{
    background-color: var(--primary-color-disabled);
}
