:root {
  --primary-color: navy; /* global scope */
  --primary-color-hover: rgb(0, 0, 185);
  --primary-color-disabled: rgb(113, 113, 143);
  --text-alt: white;
}
html{
    height: 100vh;
}
footer{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
    position: fixed;
    font-size: large;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
}
iframe{
    width: 100%;
    height: calc(100% - 60px);
    border: none;
}
body{
    text-align: center;
    margin: 0;
    height: 100%;
}
#search-container{
    background-color: var(--primary-color);
    display:inline-block;
    padding: 1.75vw;
    padding-bottom: 0px;
    border-radius: 1.75vw;
    color: var(--text-alt);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#output-div{
    position: relative;
    text-align: left;
    background-color: var(--primary-color);
    padding: 25px;
    padding-top: 45px;
    border-radius: 15px;
    margin: 25px;
    margin-top: 0;
}
.train-display{
    background-color: white;
    border-radius: 1.5vw;
    padding: 2vw;
    margin:0;
    font-size: 1vw;
}
.train-display *{
    font-size: 1vw;
}
#test-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
#search-container, #search-container *{
    font-size: 1.25vw;
}
.buy-button{
    background-color: var(--primary-color);
    color: white;
    border: 2px outset lightgray;
    border-radius: 4px;
    width: 100%;
}
.buy-button:hover, .buy-button:focus:hover {
    background-color: var(--primary-color-hover);
}
.buy-button:focus{
    background-color: var(--primary-color);
}
.buy-button:disabled{
    background-color: var(--primary-color-disabled);
}
@media screen and (max-width: 1000px){
    #test-div{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 700px){
    #test-div{
        grid-template-columns: repeat(2, 1fr);
    }
    .train-display, .train-display *{
        font-size: 1.75vw;
    }
    #search-container, #search-container *{
    font-size: 1.5vw;
}
}

.page-button{
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    border: 2px outset white;
}
.page-button.top{
    top:19px;
}
.page-button.bottom{
    bottom:19px;
}
.page-button.left{
    left:25px;
}
.page-button.right{
    right:25px;
}
.page-button:hover, .page-button:focus:hover {
    background-color: var(--primary-color-hover);
}
.page-button:focus{
    background-color: var(--primary-color);
}
.page-button:disabled{
    background-color: var(--primary-color-disabled);
}

footer>button{
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: white;
}
img[src$=".svg"]{
    pointer-events:none;
}
